h1 {
    font-family: sans-serif;
    font-size: 18px;
}
.code tr {
}
.code td {
    padding: 4px;
    border: none;
    font-size: 12px;
}
.code {
    border-spacing: 0;
    border-collapse: separate;
    min-width: 700px;
}
.code pre {
    margin: 0;
    padding: 0;
}
.hit {
    background-color: rgba(208,233,153,0.5);
}
.miss {
    background-color: rgba(216,134,123,0.5);
}
.never {
    background-color: #fff;
}
.coverage_row_total {
    font-weight: bold;
}
