{% extends "base.j2" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="pygments.css") }}">
{% endblock %}

{% block content %}
<p>Coverage report <a href="{{ url_for("covered.index", uuid=uuid) }}">{{ uuid }}</a></p>

<h1>{{ path }}</h1>

<p>
Coverage: {{ "%.0f"|format(source_file.coverage_percent) }} %<br />
{{ source_file.hit }} run, {{ source_file.missing }} missing, {{ source_file.excluded }} excluded
</p>

{{ coverage_table }}
{% endblock %}
