{% extends "base.j2" %}

{% block content %}
<p>Coverage: {{ "%.0f"|format(summary["coverage"]) }} %</p>

{% if git["branch"] %}
<p>
Branch: {{ git["branch"] }}<br />
Commit: {{ git["commit"] }}
</p>
{% endif %}

<table>

<thead>
<tr>
<th>File</th>
<th>Total</th>
<th>Hit</th>
<th>Missed</th>
<th>Coverage</th>
</thead>
<tbody>

{% macro coverage_row(name, total, hit, miss, coverage, is_total=False) %}
{% if is_total %}
<tr class="coverage_row_total">
<td>{{ name }}</td>
{% else %}
<tr>
<td><a href="{{ name }}">{{ name}}</a></td>
{% endif %}
<td>{{ total }}</td>
<td>{{ hit }}</td>
<td>{{ miss }}</td>
<td>{{ "%.0f"|format(coverage) }} %</td>
</tr>
{%- endmacro %}

{% for source_file in source_files %}
{{ coverage_row(source_file["name"], source_file["summary"]["total"], source_file["summary"]["hit"], source_file["summary"]["missing"], source_file["summary"]["coverage"])}}
{% endfor %}
{{ coverage_row("Total", summary["total"], summary["hit"], summary["missing"], summary["coverage"], is_total=True)}}

</tbody>
</table>
{% endblock %}
