{% extends "base.j2" %}

{% block content %}
<p>Coverage report <a href="{{ url_for("covered.index", uuid=uuid) }}">{{ uuid }}</a></p>
<p>
Coverage: {{ "%.0f"|format(upload.coverage_percent) }} %<br />
{{ upload.hit }} run, {{ upload.missing }} missing, {{ upload.excluded }} excluded
</p>

{% if upload.git_branch %}
<p>
Branch: {{ upload.git_branch }}<br />
Commit: {{ upload.git_commit }}
</p>
{% endif %}

<table class="coverage_table">

<thead>
<tr>
<th>File</th>
<th>Total</th>
<th>Hit</th>
<th>Missed</th>
<th>Excluded</th>
<th>Coverage</th>
</thead>
<tbody>

{% macro coverage_row(name, total, hit, miss, excluded, coverage, is_total=False) %}
{% if is_total %}
<tr class="coverage_row_total">
<td>{{ name }}</td>
{% else %}
<tr>
<td><a href="{{ name }}">{{ name}}</a></td>
{% endif %}
<td>{{ total }}</td>
<td>{{ hit }}</td>
<td>{{ miss }}</td>
<td>{{ excluded }}</td>
<td>{{ "%.0f"|format(coverage) }} %</td>
</tr>
{%- endmacro %}

{% for source_file in source_files %}
{{ coverage_row(source_file.name, source_file.total, source_file.hit, source_file.missing, source_file.excluded, source_file.coverage_percent)}}
{% endfor %}
{{ coverage_row("Total", upload.total, upload.hit, upload.missing, upload.excluded, upload.coverage_percent, is_total=True)}}

</tbody>
</table>
{% endblock %}
